# Aula 4 - strings

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Strings
- 2) Funções de Strings
    - 2.1) Formatação de strings

____
____
____

## 1) Strings

Desde a primeira aula, temos trabalhado com strings, que, como vimos, representam **dados textuais**

Vamos, agora, olhar pra strings um pouco mais a fundo, e aprender algumas funções para trabalharmos com strings

Uma string nada mais é do que uma **coleção de caracteres**!

Assim, podemos acessar caracteres específicos ou então um intervalo de caracteres de uma string, como se fosse uma lista!

**OBS.: Para strings também, o índice começa em 0, e podemos usar índices negativos!**

In [1]:
nome = "André"

In [2]:
nome[0]

'A'

Para saber o comprimento de uma string (quantos caracteres ela tem, incluindo espaços e pontuações), use a função len():

In [3]:
len(nome)

5

Podemos também percorrer cada caractere da string com o `for` -- strings são objetos **iteráveis**:

In [4]:
for elemento in nome:
    
    print(elemento)

A
n
d
r
é

Dá pra fazer o mesmo com o range() e o len():

In [5]:
for i in range(len(nome)):
    
    print(i, nome[i])

0 A
1 n
2 d
3 r
4 é

Apesar de se parecer com uma lista, a string não tem exatamente as propriedades de uma lista. Por exemplo, **não podemos alterar** caracteres individualmente:

In [6]:
nome = "André"

In [7]:
nome[-1] = "e..."

TypeError: 'str' object does not support item assignment

Mas nós conseguimos **alterar caracteres (ou palavras)** com o método "replace()":

In [8]:
nome = "André Picolé, é é"

In [9]:
nome.replace("é", "e....")

'Andre.... Picole...., e.... e....'

In [10]:
# ultimo parametro: quantidade de primeiras aparições do caractere a ser substituido
nome.replace("é", "e....", 2)

'Andre.... Picole...., é é'

Podemos **transformar uma string em uma lista de caracteres**, explicitamente, usando a fução "list()"

In [11]:
lista_nome = list(nome)

In [12]:
lista_nome

['A',
 'n',
 'd',
 'r',
 'é',
 ' ',
 'P',
 'i',
 'c',
 'o',
 'l',
 'é',
 ',',
 ' ',
 'é',
 ' ',
 'é']

Agora sim, podemos alterar um elemento da lista:

In [13]:
lista_nome[-6] = "e......."

In [14]:
lista_nome

['A',
 'n',
 'd',
 'r',
 'é',
 ' ',
 'P',
 'i',
 'c',
 'o',
 'l',
 'e.......',
 ',',
 ' ',
 'é',
 ' ',
 'é']

E, pra trasnformar a lista de volta pra string, usamos a função "join()":

In [15]:
"".join(lista_nome)

'André Picole......., é é'

Um exemplo do uso do .join() pra juntar os números de uma lista em um único numero

In [16]:
lista_num = [2, 0, 2, 0]

num = int("".join([str(elemento) for elemento in lista_num]))

print(num)

2020

Como já vimos, podemos fazer **operações com strings**:

Soma de strings: ao somar duas strings, elas são concatenadas:

In [17]:
"André" + " Picolé"

'André Picolé'

Multiplicação de string por inteiro: ao multiplicar uma string por um número inteiro, a string é repetida:

In [18]:
"André " * 3

'André André André '

__________
__________
__________

## 2) Funções de strings

Como listas, strings também têm algumas funções específicas. Algumas delas são:

.upper(): transforma todos os caracteres em maiúscula

In [19]:
nome = "André"

In [20]:
nome.upper()

'ANDRÉ'

.lower(): trasnforma todos os caracteres em minúscula

In [21]:
nome.lower()

'andré'

.title(): deixa a primeira letra de cada palavra em maiúscula

In [22]:
escola = "empresa s a de sao paulo"

escola.title()

'Empresa S A De Sao Paulo'

.capitalize(): deixa a primeira letra da primeira palavra em maiúscula

In [23]:
escola.capitalize()

'Empresa s a de sao paulo'

É possível quebrar uma string em determinado caractere, tendo como resultado uma **lista com os caracteres além da quebra**.

- Para quebrar nos espaços, use a função ".split()", sem argumento

In [24]:
oi = "oi, tudo bem?"

In [25]:
oi.split()

['oi,', 'tudo', 'bem?']

- Para quebrar em algum caracter, use o caractere como argumento:

In [26]:
oi.split(",")

['oi', ' tudo bem?']

__Tirar espaços que tão sobrando no fim e no início da string__

Utilize a função strip()

In [27]:
cor = "  vermelho      "

cor.strip()

'vermelho'

Mas essa função não elimina espaços extrar no "meio" da string -- apenas no início e no fim!

In [28]:
cor = "vermelho            rosa"
cor.strip()

'vermelho            rosa'

__Pra tirar espaços do meio, podemos fazer:__

In [29]:
" ".join(cor.split())

'vermelho rosa'

Ou:

In [30]:
cor.replace(" ", "", cor.count(" ") - 1)

'vermelho rosa'

Outras funções interessantes...

- isdigit()
- isalpha()
- isalnum()
- isspace()

In [31]:
frase = "ele disse: vamos nos encontrar às 13:00"

num = []
letra = []
pontos = []

for char in frase:
    
    if char.isdigit() == True:
        
        num.append(char)
        
    elif char.isalpha() == True:
        
        letra.append(char)
        
    else:
        
        pontos.append(char)
        
print(num)
print(letra)
print(pontos)

['1', '3', '0', '0']
['e', 'l', 'e', 'd', 'i', 's', 's', 'e', 'v', 'a', 'm', 'o', 's', 'n', 'o', 's', 'e', 'n', 'c', 'o', 'n', 't', 'r', 'a', 'r', 'à', 's']
[' ', ':', ' ', ' ', ' ', ' ', ' ', ':']

Podemos usar as funções acima para padronizar a resposta de um usuário!

Utilizamos a função 

```unicodedata.normalize("NFD", minha_string).encode("ascii", "ignore").decode("utf-8")```

Para tirar acentos da string "minha_string"

E o ```strip()``` é usado pra tirar espaços desnecessários do início e do fim de uma string

In [33]:
# mais um exemplo

import unicodedata

minha_string = "Coração"

print("string original:", minha_string)
print("string padronizada:", unicodedata.normalize("NFD", minha_string).encode("ascii", "ignore").decode("utf-8").upper().strip())

string original: Coração
string padronizada: CORACAO

Como pudemos ver acima, processar a string para que ela esteja em **determinado padrão** (por exemplo: em letras maiúsculas e sem acentos) é um passo muito importante para que operações de comparação entre strings funcionem perfeitamente sem erros!

In [37]:
import unicodedata

resposta = input("Você trabalhava com ele? ")

ponto = 0

if unicodedata.normalize("NFD", resposta).encode("ascii", "ignore").decode("utf-8").upper().strip() == "NAO":

    ponto = ponto + 1
    
print(ponto)

Você trabalhava com ele? não
1

___
___

### 2.1) Formatação de strings

Também podemos **formatar strings**. Isso pode ser super útil tanto ao receber dados do usuário (input) quando ao exbibir dados pro usuário (print)

Um dos usos mais legal do format é para **exibir** strings formatadas.

Imagine que você queira exibir uma data no formato dd/mm/aaaa.

Em situações normais, dias e meses inferiores a 10 apareceriam com apenas 1 dígito (int não é representado com zeros à esquerda). Porém, podemos especificar no format que gostaríamos de representar um inteiro com 2 dígitos, preenchendo com zero dígitos em branco (à esquerda): 

```python

dia = 1
mes = 2
ano = 2020
data = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data) # resultado: 01/02/2020
```

O símbolo 'd' indica que estamos representando números **inteiros** em base decimal (dígitos de 0 a 9). 

Os símbolos '2' e '4' indicam, respectivamente, 2 dígitos ou 4 dígitos. 

o símbolo '0' indica que se faltar dígitos, os espaços devem ser preenchidos com zero

In [38]:
dia = 11
mes = 12
ano = 2020

data = "{:02d}/{:02d}/{:04d}".format(dia, mes, ano)

print(data)

11/12/2020

Imagina que você queira exibir algum valor monetário, por exemplo, o preço de alguma coisa.

Utilizando float, pode ser que seu resultado tenha apenas uma casa decimal.

Mas, se tratando de dinheito, sempre queremos mostrar duas casas decimais!

Usaremos o format para representar com apenas 2 casas.

```python
preco = 1500.5

print(preco) 

precoFinal = 'R$ {:.2f}'.format(preco)

print(precoFinal)
```

Neste caso, o 'f' indica que o número é float. 

Já o '.2' indica que queremos 2 casas após o ponto decimal. 

Note que a função não apenas descarta as casas excedentes, e sim arredonda corretamente o número.

In [39]:
preco = 1500.5678

preco_final = "R$ {:.2f}".format(preco)

print(preco_final)

R$ 1500.57